:root {
    --color-white: #F9FAF8;
    --color-dark: #1F2937;
    --color-grey: #E5E7EB;

    --color-accent: #3882F6;

    --color-error: #ff4d4f;
    --color-success: #52c41a;
    --color-warning: #faad14;

    --logo-size: 1.5rem;
    --hero-main: 3rem;
    --hero-secondary: 1.125rem;
    --information-header: 2.25rem;
    --quote-text: 2.25rem;

    --font-roboto: 'Roboto', system-ui, sans-serif;
    --font-mono: 'Roboto Mono', Consolas, monospace;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-roboto);
}

h1, h2, h3, h4, h5, h6,
p,
span,
small, strong, em {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

button, input, select, textarea {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    border: none;
    outline: none;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
    height: auto;
}