.about-section1 {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--color-dark);
    color: var(--color-white);
}

.about-section1-content {
    width: 70%;
    min-height: 50vh;
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

.about-section1-content img {
    width: 250px;
    border-radius: 100%;
}

.about-section1-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.about-section1-info span {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--color-accent);
}

.about-section1-info h1 {
    font-size: 3rem;
    font-weight: 700;
}

.about-section1-info p {
    font-size: 1.5rem;
    line-height: 1.6;
}

.about-section2 {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--color-darkest);
    color: var(--color-white);
}

.about-section2-content {
    width: 70%;
    padding: 1rem 0;
}

.about-section2-content ol {
    display: flex;
    justify-content: center;
}

.about-section2-content ol li {
    flex: 1;
    text-align: center;
}

.about-section2-content ol li h2 {
    font-size: 2rem;
    font-weight: 800;
}

.about-section2-content ol li span {
    color: var(--color-grey);
    font-weight: 400;
}

.about-section2-content ol li hr {
    border-color: var(--color-grey);
}

.about-section3 {
    min-height: 30vh;
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 2rem;
    gap: 5rem;
    margin-bottom: 1.5rem;
}

.about-section3 div {
    width: 30%;
    min-height: 60%;
}

.about-section3 h3 {
    font-size: 2.5rem;
    font-weight: 700;
}

.about-story p {
    font-size: 1.2rem;
}

.about-section3 .about-story,
.about-section3 .about-skills {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.about-section3 .about-skills ol {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    row-gap: 2rem;
    column-gap: 1.2rem;
}

.about-section3 .about-skills li {
    background-color: var(--color-dark);
    color: var(--color-white);
    font-size: 1.2rem;
    padding: 0.2rem 1.5rem;
    border-radius: 50px;
}

.about-section4 {
    width: 100%;
    background-color: var(--color-grey);
    text-align: center;
    padding: 2.5rem;
}

.about-section4 p {
    margin: 1.5rem 0;
}

.about-section4 p:first-of-type {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.4rem;
    font-weight: 300;
}

.about-section5 {
    width: 100%;
    padding: 2.5rem;

}

.about-section5-content {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--color-accent);
    color: var(--color-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.8rem 2.5rem;
    border-radius: 10px;
}

.about-section5-content h4 {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.about-section5-content p {
    font-size: 0.8rem;
    color: var(--color-grey);
}

.about-section5-content a {
    color: var(--color-white);
    border: 1px solid var(--color-white);
    border-radius: 10px;
    padding: 1rem 1.6rem;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.about-section5-content a:hover,
.about-section5-content a:active {
    background-color: var(--color-white);
    color: var(--color-accent);
}

@media (max-width: 768px) {

    .about-section1-content {
        width: 90%;
        padding: 0.5rem;
        flex-direction: column;
        text-align: left;
        gap: 1.5rem;
    }

    .about-section1-info {
        gap: 0.5rem;
    }

    .about-section1-content img {
        width: 150px;
    }

    .about-section1-info span {
        font-size: 1rem;
        font-weight: 500;
        text-align: center;
    }

    .about-section1-info h1 {
        font-size: 2.5rem;
    }

    .about-section1-info p {
        font-size: 1.1rem;
    }

    .about-section2-content {
        width: 100%;
    }

    .about-section2-content ol {
        justify-content: space-between;
    }

    .about-section2-content ol li h2 {
        font-size: 1.6rem;
        font-weight: 700;
    }

    .about-section2-content ol li span {
        font-size: 0.9rem;
    }

    .about-section3 {
        flex-direction: column;
        text-align: center;
        padding: 1rem;
        gap: 2rem;
    }

    .about-section3 div {
        width: 100%;
    }

    .about-section3 h3 {
        font-size: 2rem;
        font-weight: bold;
    }

    .about-section3 .about-skills ol {
        width: 100%;
        align-items: center;
        justify-content: center;
        row-gap: 0.8rem;
        column-gap: 0.8rem;
    }

    .about-section3 .about-skills li {
        padding: 0.2rem 1rem;
    }

    .about-section4 {
        padding: 1.8rem;
    }

    .about-section4 p {
        margin: 1rem 0;
    }

    .about-section4 p:first-of-type {
        width: 100%;
        font-size: 1.2rem;
    }

    .about-section5-content {
        width: 100%;
        flex-direction: column;
        text-align: center;
        padding: 1.2rem 2rem;
        gap: 1rem;
    }

    .about-section5-content a {
        padding: 0.5rem 1rem;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {

    .about-section1-content {
        width: 90%;
    }

    .about-section1-content img {
        width: 350px;

    }

    .about-section2-content {
        width: 100%;
    }

    .about-section3 {
        gap: 1rem;
    }

    .about-section3 div {
        width: 50%;
    }

    .about-section3 .about-skills ol {
        width: 100%;
    }

    .about-section4 p:first-of-type {
        width: 90%;
    }

    .about-section5-content {
        width: 85%;
    }

}