
.about-body-container{
    width: 100vw;
    height: 100vh;
}

.about-main-container{
    display: flex;
    align-items: center;
    flex-direction: column;

}

.about-section1{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--color-dark);
    color: var(--color-white);
}

.about-section1-content{
    width: 70%;
    padding: 2rem;
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

.about-section1-content img{
    border-radius: 100%;
}

.section1-info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.section1-info span{
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--color-accent);
}

.section1-info h1{
    font-weight: 600;
}

.section1-info p{
    font-size: 1.2rem;
    font-weight: 300;
}

.about-section2{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--color-darkest);
    color: var(--color-white);
}

.about-section2-content{
    width: 70%;
    padding: 1rem 0;
}

.about-section2-content ol{
    display: flex;
    justify-content: center;
}

.about-section2-content ol li{
    flex: 1;
    text-align: center;
}

.about-section2-content ol li h2{
    font-size: 2rem;
    font-weight: 800;
}

.about-section2-content ol li span{
    color: var(--color-grey);
    font-weight: 400;
}

.about-section2-content ol li hr{
    color: var(--color-grey);
}

.about-section3{
    display: flex;
    justify-content: center;
    padding: 2rem;
    gap: 2.5rem;
    margin-bottom: 1.5rem;
}
.about-section3 div{
    width: 25%;
}

.about-section3 h3{
    font-size: 1.8rem;
    font-weight: 600;
}

.about-section3 .about-story,
.about-section3 .about-skills{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.about-section3 .about-skills ol{
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    gap: 1.2rem;
}

.about-section3 .about-skills li{
    background-color: var(--color-dark);
    color: var(--color-white);
    padding: 0.2rem 1.5rem;
    border-radius: 50px;
}

.about-section4{
    width: 100%;
    background-color: var(--color-grey);
    text-align: center;
    padding: 2.5rem;
}

.about-section4 p{
    margin: 1.5rem 0;
}

.about-section4 p:first-of-type{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.4rem;
    font-weight: 300;
}

.about-section5{
    width: 100%;
    padding: 2.5rem;
    
}

.about-section5-content{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--color-accent);
    color: var(--color-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.8rem 2.5rem;
    border-radius: 10px;
}

.about-section5-content h4{
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.about-section5-content p{
    font-size: 0.8rem;
    color: var(--color-grey);
}

.about-section5-content a{
    color: var(--color-white);
    border: 1px solid var(--color-white);
    border-radius: 10px;
    padding: 1rem 1.6rem;
}