.projects-hero {
  background: var(--color-dark);
  font-family: var(--font-roboto);
  min-height: 50vh;
  padding-top: 4rem;
  padding-left: 8rem;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 18px;
}

.proj-hero-subtitle {
  color: var(--color-accent);
  font-weight: bolder;
  font-size: 24px;
}

.proj-hero-title {
  color: var(--color-white);
  font-weight: bolder;
  font-size: 48px;
}

.proj-hero-desc {
  color: var(--color-white);
  font-weight: normal;
  font-size: 18px;
}
